@import url('./light.css');
@import url('./night.css');
@import url('./font/regisFont.css');
@import url('./markdown.css');


html:root {
  --half-gray-128: rgb(128, 128, 128);
  --cut-theme-font-icon-size: 22px;
  --half-gray-128-o-3: rgb(128, 128, 128, 0.3);
  // 导航文字颜色
  --nav-text-color: var(--half-gray-128);
  --m-full: 80%;

  // 进度条高度
  --ngprogress-bar-height: 1px;

  --common-text: system-ui;
  // 系统字体
  --md-sytem-font: system-ui;

  --intro-h1-fonWeight: 800;

  --inter-font-family: 'Inter', var(--md-sytem-font);
  --common-font-family: 'inter var', 'sans-serif', 'system-ui';

  --nav-text-size: 16px;
  --nav-icon-size: 20px;
  --md-code-bg: rgb(46, 46, 46, 0.16);
}


@media screen and (max-width: 765px) {
  :root {
    --m-full: 100% !important;
  }

}

.icon {
  color: var(--half-gray-128);
  vertical-align: middle;
  font-size: var(--nav-icon-size)
}

@mixin margin-center {
  margin: 0 auto;
}
.max-full {
  width: var(--m-full);
  @include margin-center();
}

.max-full-5 {
  width: 50%;
  @include margin-center();
}

.default-text {
  color: var(--half-gray-128)
}

.default-textarea {
  border: none;
  background-color: unset;
  color: var(--half-gray-128);
  outline: none;
}


.mt-3 {
  margin-top: 3.4em;
}

a {
  text-decoration: none;
}


.blog_img {
  margin: 10px auto;
  width: 600px;
  height: 300px;
  object-fit: scale-down;
  border-radius: 10px;
  transition: all .3s;

}
@mixin hover-highlight-text($startColor:#e7ff00, $endColor:#f46527) {
  &:hover {
    background-image: linear-gradient(to right,  $startColor, $endColor);
    background-clip: text;
    color: transparent;
  }
}
@mixin mine-markdown-up-ani-text($startColor:#e7ff00, $endColor:#f46527) {
  @keyframes text-ani {
    0% {
      background-position: 100% 0;
    }

    100% {
      background-position: -100% 0;
    }

  }
  width: fit-content;
  color: transparent;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent, $startColor, transparent , $endColor, transparent);
  background-clip: text;
  animation: text-ani 1s linear infinite;
}
@mixin mine-markdown {
  h1,h2,h3,h4,h5,h6 {
    margin: 1rem 0;
  }
  .keyword, .keyword a {
    transition: all .3s;
  }
  .keyword {
    color: var(--md-h1-color);
    @include hover-highlight-text();
    a {
      @include hover-highlight-text();
    }
  }
  h1,h2,h3,h4,h5,h6 {
    position: relative;
    a {
      position: absolute;
      margin-left: -15px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      padding-bottom: unset;
      transition: color .3s linear;
      color: transparent;
    }

    &:hover {
      a {
        opacity: 1;
        color: inherit;
        border-bottom: unset;
      }
    }
  }
  a {
    color: var(--half-gray-128);
    width: fit-content;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    transition: border-bottom-color .3s linear;
    &:hover {
      border-bottom: 1px solid var(--half-gray-128);
    }
  }


  ul {
    margin: 5px 0;
  }

  img {
    margin: 10px auto;
    max-width: 400px;
    max-height: 400px;
  }

  blockquote {
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(136, 136, 136, 0.3);
    border-radius: 1px;
    color: var(--half-gray-128);
    border-left:5px solid var(--half-gray-128);
    width: fit-content;
  }

  .b_block {
    margin: 10px 0;
    padding: 5px;
    width: fit-content;
    font-size: 12px;
    border-radius: 5px;
    color: var(--half-gray-128);
    background-color: var(--half-gray-128-o-3);
    transition: all .3s;
    &:hover {
      background-color: #353535;
      color: #fff;
    }
  }

  .up-ani-text {
    @include mine-markdown-up-ani-text()
  }

  li {
    ul {
      padding-left: 10px;
    }
  }
}

.template-container {

  @include mine-markdown();

  pre {
    position: relative;
    padding-top: 10px;

    code {
      min-height: 50px;
      border-radius: 5px;
      font-family: input-mono;
      font-size: 14px;
    }
  }


  .cp_btn {
    position: absolute;
    top: 15px;
    right: 8px;
    border: none;
    cursor: pointer;
    background-color: unset;
    font-size: 14px;
    svg {
      transition: all .3s;
      fill: var(--half-gray-128);
    }

    &:hover {
      svg {
        fill: #353535;
      }
    }
  }
}
