// 定义字体
@font-face {
  font-family: 'Inter';
  src: url(../fonts/inter.woff2);
}

@font-face {
  font-family: 'inter var';
  src: url(../fonts/Inter.ttf);
}

@font-face {
  src: url('../fonts/InputMono.ttf');
  font-family: 'input-mono';
}
