.title[data-v-5a8468b3]{font-size:var(--intro-h1-size);color:var(--intro-h1);font-weight:var(--intro-h1-fonWeight);font-family:var(--inter-font-family)}@media (max-width: 750px){.title[data-v-5a8468b3]{text-align:center}}
