@font-face {
  font-family: 'inter';
  src: url(./Inter-ExtraBold.otf);
}


@font-face {
  font-family: 'inter var';
  src: url(./Inter.ttf);
}

@font-face {
  src: url('./InputMono.ttf');
  font-family: 'input-mono';
}
